* {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
    text-align: center;
    font-weight: 500;
}

a{
    color: rgb(26, 77, 26);
}

body{
    margin: 0;
}

.navObject{
    width: 100%;
    height: 3em;
}
