 
 main{
   margin-top: 20vh
 }

 #deviceId{
   text-align: center;
 }

 .deviceControl{
   margin: 0 auto;
   width: max-content;
   display: grid;
   column-gap: 1em;
 }

 button{
   margin: 0.2em auto;
 }
 
